
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="auth-card p-4">
            <h2 class="text-center">Бүртгүүлэх</h2>
            <form method="POST" action="{{ url_for('auth.register') }}">
                <div class="mb-3">
                    <label>Нэвтрэх нэр</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Таны нэр</label>
                    <input type="text" name="ner" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Нууц үг</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Бүртгүүлэх</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
